@charset "UTF-8";
html {
  box-sizing: border-box;
  background: url("images/background.jpg") center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Futura,"Trebuchet MS",Arial,sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

.wrapper {
  padding: 20px;
  max-width: 350px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3); }
  .wrapper h2 {
    text-align: center;
    margin: 0;
    font-weight: 200; }
  .wrapper ul {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none; }
    .wrapper ul li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding: 10px 0;
      font-weight: 100;
      display: flex; }
    .wrapper ul label, .wrapper ul span {
      cursor: pointer; }
    .wrapper ul label {
      flex: 1; }
    .wrapper ul input {
      display: none; }
      .wrapper ul input:checked + label {
        text-decoration: line-through; }
      .wrapper ul input:checked + label:before {
        content: '✔️';
        padding-right: 0px;
        display: inline-block;
        text-decoration: none; }
    .wrapper ul label:before {
      content: '☐ ';
      padding-right: 3.5px;
      margin-right: 8px; }
    .wrapper ul span:after {
      content: '❌'; }

form.add-items {
  margin-top: 20px; }
  form.add-items input {
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1); }

nav {
  display: flex;
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; }
  nav h1 {
    color: white;
    margin: auto; }
  nav .button-container {
    display: flex; }
  nav .navbutton {
    margin: auto;
    color: white;
    width: 100px;
    background-color: coral;
    border-radius: 15px; }
    nav .navbutton.text:hover {
      cursor: text; }
    nav .navbutton::placeholder {
      color: white; }
    nav .navbutton:hover {
      cursor: pointer;
      background-color: #d67552; }

/*# sourceMappingURL=output.css.map */
