@charset "utf-8";

$background:#ffc600;
$contentbackground: grey;
$navtext: white;
// Variables Declaration

html {
    box-sizing: border-box;
    background: url('images/background.jpg') center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Futura,"Trebuchet MS",Arial,sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit; 
}
.wrapper {
  padding: 20px;
  max-width: 350px;
  background: rgba(255,255,255,0.95);
  box-shadow: 0 0 0 10px rgba(0,0,0,0.3);
  h2 {
    text-align: center;
    margin: 0;
    font-weight: 200;
  }
  ul {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
    li {
      border-bottom: 1px solid rgba(0,0,0,0.2);
      padding: 10px 0;
      font-weight: 100;
      display: flex;
    }
    label, span {
      cursor: pointer;
    }
    label{
      flex:1;
    }
    input {
      display: none;
      &:checked + label {
        text-decoration: line-through;
      }
      &:checked + label:before {
        content: '✔️';
        padding-right: 0px;
        display:inline-block;
        text-decoration: none;
      } 
    }
    label:before {
      content: '☐ ';
      padding-right: 3.5px;
      margin-right: 8px;
    }
    span:after {
      content:'❌';
    }
  }
}

form.add-items {
  margin-top: 20px;
  input {
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(0,0,0,0.1);
  }
}

nav {
  display: flex;
  background-color:$contentbackground;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  h1 {
    color: $navtext;
    margin: auto;
  }
  .button-container {
    display: flex;
  }
  .navbutton {
    margin: auto;
    color: $navtext;
    width: 100px;
    background-color:coral;
    border-radius: 15px;
    &.text:hover {
      cursor: text;
    }
    &::placeholder{
      color: $navtext;
    }
    &:hover {
      cursor: pointer;
      background-color:rgb(214, 117, 82);
    }
  }
}